
.carousel-inner img {
  max-width:100%; 
  max-height: 400px;
}

.titulos{
  font-weight: bold;
}

.tcs{
 color:#9a0606;
 text-align: center;
 font-family:'Pacifico', cursive;
 font-weight: bold;
}
.tc2{
 color:#153607;
 text-align: center;
 font-family:'Pacifico', cursive;
 font-weight: bold; 
}
.tc3{
 color:black;

 text-align: center;
 font-family:'Pacifico', cursive;
 font-weight: bold; 
}

.hastang{
  text-align: center;
  color: red;
   font-weight: bold;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  color: #990000;
  font-weight: bold;
}
.marketing p {
  color: #1a0000;
  
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

#noprestamo{
  color:red;
}
