
.titulo{
  color:#aba104;
  text-align: center;
  font-family:'Pacifico', cursive;
}

.carousel-inner img {
  max-width:100%; 
  max-height: 250px;
}

.hastang{
  text-align: center;
  color: red;
   font-weight: bold;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  color: #990000;
  font-weight: bold;
}
.marketing p {
  color: #1a0000;
  
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

