body{

	background: url(../img/fondoadmin.jpg) no-repeat center center fixed;
    background-size: cover;
	
}

.titulo{
	text-align: center;
	color: #9a0606;
	margin-top: 40px;
	font-weight: bold;
	margin-bottom: 25px;
}

.form-group{
    left : 500px;
    top  : 235px;
    width: 400px;
    padding : 5px;
}
.texto{
	color:#aba104;
	font-weight: bold;
	font-size: 20px;
}

#prestamos{
	margin-bottom: 50px;
}
#administradores{
	margin-bottom: 50px;
}
.imgVentas{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 40px;
  	border-radius: 25px;
}

#meses{
	margin-bottom: 86px;
}
